<html>

<head>
    <title>Bike Sharing Project - IEEE NITK</title>
    <!-- Compiled and minified CSS -->
    <!-- Load Core Materialize CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h3><center>About us</center>


  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars3.githubusercontent.com/u/16410361?s=460&v=4">
          
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Salman Shah</p>
        </div>
      </div>
    </div>
     <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="https://avatars2.githubusercontent.com/u/25412153?s=460&v=4">
         
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Anumeha Agrawal</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
         
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Salman Shah</p>
        </div>
      </div>
    </div>
     <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
         
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Salman Shah</p>
        </div>
      </div>
    </div>
     <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Salman Shah</p>
        </div>
      </div>
    </div>
     <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>Salman Shah</p>
        </div>
      </div>
    </div>
</div>
            



            
